<%include partials/header %>
<div class="container">

	<div class="row">
		<div class="col-md-3">
			<div class="thumbnail">
				<h1><%=music.musicname%></h1>
				<img class="img-responsive" src="<%=music.cover%>">
				<h3>Price: <%= music.price %></h3>
			</div>			
		</div>
		<dir class="col-md-9">
			<p><%=music.description%></p>
		</dir>
	</div>
	
	
	
	


</div>

<%include partials/footer %>